/* PRESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100vh;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* Utils */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* HEADER */

header{
    min-width: 100%;
    min-height: 80px;
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-around;
}

.ml{
    margin-left: 15px;
}

.mr{
    margin-right: 15px;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a{
    display: inline-block;
    line-height: 80px;
}

.logo{
    vertical-align: middle;
}

.header-links{
    text-decoration: none;
    color: #fff;
}

button:hover{
    opacity: .8;
}

.fa-bars{
    display: none;
    color: #fff;
}

/* MAIN */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    margin: 30px auto;
    margin-bottom: 50px;
}

.big-card{
    border-radius: 20px;
    width: 66%;
    height: 300px;
    background-color: #b5ddff;
    display: flex;
    padding: 25px;
}

.card-text{
    width: 50%;
}

.card-image {
    width: 50%;
}

.card {
    border-radius: 20px;
    background-color: #b5ddff;
    width: 33%;
    height: 300px;
    padding: 25px;
    text-align: center;
}

.second-main-section {
    background-color: #9792e4;
    margin-bottom: 100px;
    height: 750px;
}

.smaller-container{
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 20px;
}

.left-column, .right-column{
    width: 50%;
}

.right-column{
    display: flex;
    align-items: end
}

.white-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    margin-left: 50px;
    text-align: center;
}

.left-planning{
    width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.strategic-planning{
    margin-bottom: 50px;
}

.right-planning {
    width: 200px;
}

.italic-paragraph{
    font-style: italic;
}

.purple-circle{
    background: #9792e4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
}

.fa-arrow-down {
    margin-top: 11px;
}

.third-main-section{
    margin-bottom: 50px;
}

.text-align{
    text-align: center;
    margin-bottom: 35px;
}

.violet-cards{
    display: flex;
    background-color: #9792e4;
    margin-bottom: 25px;
    border-radius: 30px;
}

.third-section-left-column{
    width: 20%;
}

.third-section-right-column {
    width: 80%;
}

.testimonial{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.fourth-main-section{
    background-color: #9792e4;
    margin-bottom: 100px;
}

.benefits{
    text-align: center;
}

.fourth-section-card {
    border-radius: 20px;
    background-color: #fff;
    width: 33%;
    height: 300px;
    padding: 25px;
}

.fifth-main-section{
    margin-bottom: 100px;
}

.fifth{
    display: flex;
}

.fifth-section-left-column{
    width: 70%;
}

.fifth-section-right-column {
    width: 30%;
}

.about{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sixth-main-section{
    background-color: #9792e4;
    margin-bottom: 100px;
    text-align: center;
}

.second-smaller-container{
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 20px;
}

.get-started{
    color: #cbc9f1;
}

footer{
    background-color: #333333;
    color: #fff;
    text-align: center;
}

.even-smaller-container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 20px;
}

p>a{
    color: #8f8bd6;
}


@media screen and (max-width: 768px) {
   .header-links, .first-button{
        display: none;
   }

   .logo {
       vertical-align: middle;
       position: absolute;
       left: 25px;
       top: 20px;
   }

   .fa-bars {
       display: inline-block;
       color: #fff;
       position: absolute;
       right: 25px;
       top: 27px;
       font-size: 22px;
   }

   .big-card{
        flex-direction: column;
   }

   .card-text{
        width: 100%;
   }

   .second-main-section{
        height: 1400px;
   }

   .smaller-container{
        flex-direction: column;
   }

   .left-column, .right-column{
        width: 100%;
        text-align: center;
   }

   .left-planning, .right-planning{
        width: 400px;
   }

   .third-section-left-column {
       width: 30%;
   }

   .third-section-right-column {
       width: 70%;
   }

   .fourth-section-card{
        width: 48%;
   }

   .fifth-section-left-column{
        width: 55%;
   }

   .fifth-section-right-column {
        width: 45%;
        margin-left: 50px;
    }

    .second-smaller-container{
        max-width: 600px;
    }

    .even-smaller-container {
        max-width: 550px;
    }
}



@media screen and (max-width: 480px) {
    .header-links, .first-button {
        display: none;
    }

    .logo {
        vertical-align: middle;
        position: absolute;
        left: 25px;
        top: 20px;
    }

    .fa-bars {
        display: inline-block;
        color: #fff;
        position: absolute;
        right: 25px;
        top: 27px;
        font-size: 22px;
    }

    .big-card {
        border-radius: 20px;
        width: 100%;
        height: 350px;
        background-color: #b5ddff;
        display: flex;
        padding: 25px;
        text-align: center;
    }

    .card {
       border-radius: 20px;
       background-color: #b5ddff;
       width: 100%;
       height: 300px;
       padding: 25px;
       text-align: center;
    }

    .card-image{
        margin: auto;
    }

    .white-container{
        margin: auto;
    }

    .third-main-section{
        text-align: center;
    }

    .violet-cards{
        flex-direction: column;
    }

    .third-section-left-column {
        width: 100%;
    }

    .third-section-right-column {
        width: 100%;
    }

    .cards-container{
        flex-direction: column;
    }

    .fourth-section-card{
        width: 100%;
    }

    .fifth{
        flex-direction: column;
    }

    .fifth-section-left-column {
        width: 100%;
    }

    .fifth-section-right-column{
        width: 100%;
    }

    .even-smaller-container{
        max-width: 1000px;
    }
}
